.Hea {
  background: #1fddff;
height: 50px;
position: fixed;
z-index: 1;
width: 50%;
left: 25%;
border-radius: 0px 0px 15px 15px;
}

.Hea::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  /* float: right; */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 5px;
  margin:5px;
  position: relative;
  border-bottom-style: dashed;
  border-width: 1px;

}

nav a {
  color: #444;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
